<%- include('partials/header') %>

<div class="track-container">
  <div class="track-box">

    <h2>Track Your Service</h2>

    <form action="/booking/track" method="GET">

      <div class="form-group">
        <input type="text" name="phone" required>
        <label>Enter Phone Number</label>
      </div>

      <button type="submit" class="submit-btn">
        Track Now
      </button>

    </form>

  </div>
</div>

<%- include('partials/footer') %>